  .btnContainerStyle {
    display: flex;
    color: #FFFFFF;
    background-color: #3a5ba0;
    width: 300px;
    height: auto;
    border: none;
    border-radius: 6px;
  }
  
  .iconStyle {
    width: 30px;
    height: var(--btn-login-height);
    border: 1px solid transparent;
  
  }
  
  .btnStyle {
    width: 300px;
    height: var(--btn-login-height);
    line-height: var(--btn-login-height);
    vertical-align: middle;
    text-align: center;
    font-family: Roboto, arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
  }
  
  .btnContainerStyle:hover {
    -webkit-box-shadow: 2px 2px 8px 1px rgba(20, 20, 20, 0.15);
    -moz-box-shadow: 2px 2px 8px 1px rgba(20, 20, 20, 0.15);
    box-shadow: 0 0 3px 3px rgb(66 133 244 / 30%);
  }
  
  
  #myGoogleSigninButton,
  #myFacebookSigninButton{
    margin: 10px;
  }
   #myGoogleSigninButton> div,
   #myFacebookSigninButton> div 
  {
    margin: auto;
    border-radius: 6px;
  }
  